:root {
    --accent: orange;
    --text: #333;
    --regular-text: 16px;
    --lineheight: 1.65;
    --userfont: roboto-st, sans-serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

@font-face {
    src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 700;
    font-style: italic;
}

body {
    margin: 0;
    font-family: var(--userfont);
    font-size: var(--regular-text);
    line-height: var(--lineheight);
    color: var(--text);
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
}

button {
    padding: 10px 19px;
    background-color: #20c5bd;
    color: #333333;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}

button:hover {
    background-color: #38d9d0;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg.svg");
    background-repeat: repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    padding: 25px;
    color: #eaeaea;
    background-color: #b9b9b90f;
    box-shadow: rgba(0, 0, 0, 0.2) 0 20px 30px;
    border: 1px solid rgba(152, 135, 182, 0.13);
    text-align: center;
}


